h1 {
	text-align: center;
	/* background-color: #ff1111; */
	font-size: 118%;
}

.p1 {
	margin-top: 10px;
	text-align: center;
}
.p2 {
	margin-bottom: 5px;
	margin-top:5px;
	text-align: center;
}

.image {
	margin-left: 280px;
}

.f1 {
	border: 1px solid black;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 50px;
	
}

#footerlinks {
	width: 300px;
	
}
#footerlinks p { width: 100px; display: inline-block; }

body{
	background-color: lightblue;
}