.image {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10%;
} 

.textClass {
	text-align: center;	
	text: bold;
}

body{
	background-color: lightblue;
}

.p {
	 text-align: right;
}

.countryName {
	font-weight: bold;
	font-size: 2em;
}