<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel="stylesheet" href="about.css" />

<style>
body {
    background-image: url("developers.svg");
    background-repeat: no-repeat;
    background-position:  top;
}
</style>
</head>

  <body>
  <p align="right"><a href="homePage">Home</a></p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1>NationPedia</h1>
  <h3 align="center">Neeraj Venugopal,
    Harika Reddy Billuri,
    Tanmay Raoji Shinde,
    Mahesh Shinde
  </h3>
  <br>
  <br>

  <h4 align= "left"> Problem Statement: </h4>
  <p align="justify">To help us understand a country’s growth, there are few factors such 
  as the Human Development Index, Poverty, Population, Literacy Rate, Crime Rate, 
  Life expectancy etc. The users find it difficult to get all this information under 
  one platform. Even if the users come across such a website, the data presented to 
  them is not visually appealing or easily understood.</p>
  
  <h4 align= "left"> Product Objectives: </h4>
  <p align="justify">We propose a Web Application that will bring various factors 
  such as the Human Development Index, Poverty, Population, Literacy Rate, Crime Rate, 
  Life expectancy etc. Based on the country or the factor selection this application
  will provide a graphical representation of the same.</p> 

</body> 